[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"

Django==2.0.2
Pillow==5.0.0
psycopg2==2.7.4
pytz==2018.3
whitenoise==3.3.1

[requires]

python_version = "3.6"
