[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
Pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytz = "*"
whitenoise = "*"


[requires]

python_version = "3.6"
