airtable-python-wrapper==0.8.0
Babel==2.5.3
blinker==1.4
buttercms-python==0.7
certifi==2018.1.18
chardet==3.0.4
click==6.7
decorator==4.2.1
defusedxml==0.5.0
dj-database-url==0.4.1
django==2.0
Flask==0.12
Flask-Babel==0.11.2
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.6
image==1.5.17
itsdangerous==0.24
Jinja2==2.9.4
markupsafe==1.0
oauthlib==2.0.6
olefile==0.44
pbr==3.1.1
pep8==1.7.0
Pillow==4.3.0
playsound==1.2.2
psycopg2==2.6.2
pygame==1.9.3
python-dateutil==2.6.0
python3-openid==3.1.0
pytz==2017.3
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
SQLAlchemy==1.1.5
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.11.15
whitenoise==2.0.6
Whoosh==2.7.4
WTForms==2.1
