
airtable-python-wrapper==0.8.0
boto3==1.6.19
botocore==1.9.19
certifi==2018.1.18
chardet==3.0.4
Django==2.0.2
django-storages==1.6.6
docutils==0.14
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
Pillow==5.0.0
pipenv==11.9.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
